*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/neue-machina-regular.otf');
}

body{
    color: #fff;
    /*background: rgb(255,255,255);
    background: linear-gradient(266deg, rgba(255,255,255,0.8856136204481793) 0%, rgba(162,162,166,1) 30%, rgba(0,0,0,0.8996192226890756) 100%);*/

    background: linear-gradient(90deg, rgb(40 42 54 / 118%) 25%, rgba(54,55,59,1) 75%, rgba(32,33,36,0.8996192226890756) 50%);
}
a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: underline;
}

.main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    
}
.main::before, main::after{
content: '';
/*background-image: url('/assets/img/background.svg');
background-repeat: no-repeat;*/

background-size: contain;
display: inline-block;
position: fixed;
top: 0;
left: 0;
width: 140vw;
height: 100vh;
z-index: -1;
}
.main::after{
    content: '';
    top:auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px){
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {
        width: 70vw;
    }

}